<div class="p-4 sm:p-6 lg:p-8">
  <div class="mb-4">
    <%= link_to "â† Dashboard", quality_cases_path, class: "text-gray-600 hover:text-gray-900 text-sm" %>
  </div>
  <%= render 'form_analise_qualidade' %>
</div>